/* fonts */



/* general set up */
:root {
    --hotpink: #f50756;}
body {
    background-image: url(./assets/portfoliobackgroundlonger.png);
}

/* navbar */
.navbar-brand,.navbar-nav, .nav-link{
    color: var(--hotpink)!important;
}


/* header */
.jumbotron{
    text-align: center;
    background: rgba(27, 27, 27, 70%)!important;
}

#myName{
    font-family: 'Rajdhani', sans-serif;
    color: var(--hotpink);
}
#headerSubtext{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

/* about */
.aboutTitle{text-align: center;
    color: rgb(230, 232, 240);
    font-family: 'Rajdhani', sans-serif;

}

#aboutMe{
    background-color: rgba(27, 27, 27, 70%);
    padding: 3em;
    margin-top: 5em;
    margin-bottom: 4em;
}

.aboutText{
    margin-top: 1em;
    color: rgb(230, 232, 240);
    font-family: 'Roboto', sans-serif;
}

#myPhoto{
    border-radius: 8px;
    height: 47em;
}

/* web dev */
#web{
    background-color: rgba(27, 27, 27, 70%);
    padding: 3em;
    margin-bottom: 4em;
}

.webDevTitle{
    text-align: center;
    color: rgb(230, 232, 240);
    font-family: 'Rajdhani', sans-serif;
    padding: 5px;
}


/* carousel */
#art{
    background-color: rgba(27, 27, 27, 70%);
}

.artTitle{
    text-align: center;
    color: rgb(230, 232, 240);
    font-family: 'Rajdhani', sans-serif;
}

.artSubtext{
    text-align: center;
    color: rgb(230, 232, 240);
    font-family: 'Roboto', sans-serif;
    padding: 5px;
}

#myCarousel {
    object-fit: contain;
    overflow: hidden;

    background-color: rgba(27, 27, 27, 70%);
    border-radius: 8px;
}


/* contact */
#contact{
    background-color: rgba(27, 27, 27, 70%);
    color: var(--hotpink);
    margin-top: 1em;
}

/* footer */
#footer{
    background-color: rgba(27, 27, 27, 70%);

    margin-top: .5em;
}


#footerbox{
    color: aliceblue;

    text-align: center;
    padding: .5em;
}

#topbutton{
    margin-bottom: 10px;
}